    <h1>Construction-Proof</h1>
    <p>Sign Up successful. You are now able to login.</p>
		<img src="https://media-private.canva.com/MADjY9YFU0c/1/screen.jpg?response-expires=Mon%2C%2026%20Aug%202019%2010%3A35%3A37%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190826T080719Z&X-Amz-SignedHeaders=host&X-Amz-Expires=8897&X-Amz-Credential=AKIAJJATJK7JCUD446NA%2F20190826%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=9d10ee485e4b0b8d181705dc2d014ecf85102e5d77437e5682f93f0ea5c59cb0" alt="..." class="img-fluid" width="300">
    <h5>Cheers</h5>
    <p><strong>Inovex</strong></p>